<link rel="stylesheet" href="/css/Font-Awesome/css/all.css">
<nav class="ui secondary menu dream-menu dream-socials">
  {{ if .Site.Params.rss }}
  <div class="item">
    <a href="{{ "index.xml" | relLangURL }}">
      <i class="{{ .IconSize }} rss square icon" title="RSS"></i>
    </a>
  </div>
  {{ end }}


  {{ if .Site.Params.email }}
  <div class="item">
    <a href="mailto:{{ .Site.Params.email }}">
      <i class="{{ .IconSize }} mail icon" title="Email"></i>
    </a>
  </div>
  {{ end }}

  {{ if .Site.Params.linkedin }}
  <div class="item">
    <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedin }}" target="_blank">
      <i class="{{ .IconSize }} linkedin icon" title="Linkedin"></i>
    </a>
  </div>
  {{ end }}
</nav>
